ComprasDigital/ComprasDigital/bin/ComprasDigital.pdb
ComprasDigital/ComprasDigital/bin/ComprasDigital.pdb
*.pdb
ComprasDigital/ComprasDigital/obj/Debug/ComprasDigital.pdb
*.pdb
*.cache
ComprasDigital/ComprasDigital/bin/ComprasDigital.pdb
*.pdb
ComprasDigital/ComprasDigital/bin/ComprasDigital.pdb